<button id="facebook_login" class="button">aaa</button>

<script>
  document.getElementById("facebook_login").addEventListener("click", (event) =>{
      FB.login(function(response){
          console.log(response);
          console.log(response.authResponse);
          console.log(response.authResponse.accessToken);
          let accessToken = response.authResponse.accessToken;

          let form = document.createElement('form');
          form.setAttribute('method', 'post');
          form.setAttribute('action', 'https://sd-a-root.info/home/facebook_auth');
          form.setAttribute('facebook_access_token', response.authResponse.accessToken);

          let accessTokenField = document.createElement('input');
          accessTokenField.setAttribute('type', 'hidden');
          accessTokenField.setAttribute('name', 'accessToken'); // 'name'属性を使用
          accessTokenField.setAttribute('value', accessToken); // accessTokenの値を設定

          form.appendChild(accessTokenField);
          document.body.appendChild(form);
          form.submit();
      }, {scope: 'public_profile,email,pages_show_list,ads_management,business_management,instagram_basic,pages_read_engagement'});
  })

</script>
