<button id="login" class="button">aaa</button>

<script>
  document.getElementById("login").addEventListener("click", (event) =>{
      FB.login(function(response){
          console.log(response);
      }, {scope: 'public_profile,email,pages_show_list,ads_management,business_management,instagram_basic,pages_read_engagement'});
  })
</script>